.order-page__main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.category__main-container {
    flex: 1;
    border: 1px solid red;
}

.category-list__list {
    display: flex;
    justify-content: space-around;
}
