.order-page__main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.category__main-container {
    flex: 1;
    border: 1px solid red;
}

.category-list__list {
    display: flex;
    justify-content: space-around;
}
